/* Variables */
:root {
  --body-font: "Alata", sans-serif;
  --headings-font: "Josefin Sans", sans-serif;
  --black-color: hsl(0, 0%, 0%);
  --white-color: hsl(0, 0%, 100%);
}

/********************************************************/
/* BELOW 1344px (Smaller desktops) 1344px / 16px = 84em */
/********************************************************/

@media (max-width: 84em) {
  .hero-text h1 {
    width: 60%;
  }
}

/********************************************************/
/* BELOW 1200px (Landscape tablets) 1200px / 16px = 75em */
/********************************************************/

@media (max-width: 75em) {
  html {
    /* font-size: 9px */
    /* 9px / 16px = 0.562 = 56.25% */
    /* Percentage of user's browser font-size setting */
    font-size: 56.25%;
  }

  .about-wrapper {
    flex-direction: column;
    padding-inline: 3rem;
    gap: 7rem;
  }

  .about-text-box {
    margin-left: 0;
    padding: 0;
    text-align: center;
  }

  .about-text-box p {
    font-size: 2rem;
  }

  .our-creation-gallery {
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 2rem;
  }

  .gallery-img {
    height: 30rem;
  }
}

/********************************************************/
/* BELOW 944px (Tablets) 944px / 16px = 59em */
/********************************************************/

@media (max-width: 59em) {
  html {
    /* font-size: 8px */
    /* 8px / 16px = 0.50 = 50% */
    /* Percentage of user's browser font-size setting */
    font-size: 50%;
  }

  .container {
    padding: 0;
  }

  .logo {
    position: absolute;
    top: 58px;
    z-index: 200000;
    padding-left: 3rem;
  }
  /* MOBILE NAVIGATION */

  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }

  .main-nav {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--black-color);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-transform: uppercase;
    transition: all 0.5s ease-in;
    transform: translateX(100%);

    /* Hide navigation */
    /* Allow NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse & keyboard*/
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    align-items: flex-start;
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-family: var(--headings-font);
    font-size: 4rem;
    font-weight: 200;
  }

  .hero-text {
    padding-inline: 3rem;
  }

  .hero-text h1 {
    width: 100%;
  }

  .our-creation-header {
    justify-content: center;
    padding-inline: 2rem;
  }

  .our-creation-gallery {
    margin-bottom: 6rem;
  }

  .btn-desktop {
    display: none;
  }

  .btn-mobile {
    display: block;
    margin: 0 auto 9.6rem;
    border: 1px solid var(--black-color);
    padding: 2rem 7rem;
    font-family: var(--headings-font);
    background-color: transparent;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: all 0.3s;
    cursor: pointer;
  }

  .btn-mobile:hover {
    background-color: var(--black-color);
    color: var(--white-color);
  }

  .footer-wrapper {
    padding-inline: 2rem;
    flex-direction: column;
    gap: 8rem;
  }

  .footer-logo {
    align-self: center;
  }

  .footer-nav-list {
    flex-direction: column;
    gap: 3rem;
  }

  .social-links {
    justify-content: center;
  }
}

/********************************************************/
/* BELOW 704px (Smaller Tablets) 704px / 16px = 44em */
/********************************************************/

@media (max-width: 44em) {
  .hero-text h1 {
    font-size: 5rem;
    width: 80%;
  }

  .about-text-box h2 {
    font-size: 3.6rem;
  }
}

/********************************************************/
/* BELOW 544px (Phones) 544px / 16px = 34em */
/********************************************************/

@media (max-width: 34em) {
  .hero-text h1 {
    font-size: 3rem;
    width: 100%;
  }

  .our-creation-gallery {
    grid-template-columns: 1fr;
  }

  .gallery-item-title {
    font-size: 4rem;
  }
}
